@import url("colors.css");
@import url("tweaks/all_tabs_pinned.css");
@import url("tweaks/change_icons.css");
@import url("tweaks/color_loading_animation.css");
@import url("tweaks/color_urlbar_buttons.css");
@import url("tweaks/fix_white_flash.css");
@import url("tweaks/large_enough_overflow_menu.css");
@import url("tweaks/navbar_tabs_oneliner.css");
@import url("tweaks/urlbar_full_width.css");
@import url("tweaks/window_control_placeholder_support.css");

:root{
  --selected-icon-background: var(--background);
  --selected-tab-foreground: var(--background);
}

/* Color the oneliner's background */
#nav-bar,
.toolbar-items,
#tabbrowser-tabs {
  background: var(--background-bar) !important;
}

/* Hide th uglygrey border */
#PanelUI-button {
  border-left: none !important;
}

/* Reorder the buttons before the tabs */
#urlbar-container,
#forward-button,
#back-button,
#nav-bar-overflow-button,
#PanelUI-button {
  -moz-box-ordinal-group: 0 !important;
}
#bookmarks-menu-button {
  -moz-box-ordinal-group: 1 !important;
}

/* Make the urlbar rectangle-like */
#urlbar {
  padding: 2px !important;
  border-radius: 0px !important;
}

/* Change the color around the urlbar on focus */
#urlbar:not(.hidden-focus)[focused="true"],
#searchbar:focus-within {
  border-color: var(--accent) !important;
}

